<div class="carousel-item active">
    <div class="col-lg-2">
        <div class="movie-card m-4" id="movie" data-title="{{title}}" data-runtime="{{runtime}}" data-rating="{{rating}}" data-showtime="{{showtime}}">
            <div class="movie-img">
                <a href="/movie/{{title}}"><img src="/img/movie-carousel/{{img}}.png" class="img-fluid"></a>
            </div>
            <div class="movie-title">
                {{#if loggedIn}}
                <button id="getTicket" class="btn bg-black text-white">Get Tickets</button>
                {{/if}}
            </div>
        </div>
    </div>
</div>

<script src="./js/getTickets.js"></script>