<div class="friend-info">
    <div class="card border-0" style="width: 18rem;">
        <img class="card-img-top" src="/img/movies-images/{{img}}" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text"><h6><b>{{runtime}} | {{rating}}</b><br>{{showtime}}</h6></p>
            <a href="/movies/{{title}}" class="btn bg-black text-white" id="userRequest">View Details</a>
        </div>
    </div>    
</div>
